SANITY_STUDIO_PROJECT_ID=
SANITY_STUDIO_APP_ID=
SANITY_STUDIO_DATASET=
SANITY_STUDIO_FRONTEND_SITE_URL=http://localhost:3000

# Locally you can leave this blank unless you have a specific need for it.
# It's used in the CI/CD pipeline for deploying the studio to production
SANITY_AUTH_TOKEN=
