NEXT_PUBLIC_SANITY_API_VERSION=2026-02-17
NEXT_PUBLIC_SANITY_DATASET=
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_STUDIO_URL=http://localhost:3333

NEXT_PUBLIC_REVALIDATE=1

SANITY_API_READ_TOKEN=
