NEXT_PUBLIC_SANITY_API_VERSION=2026-02-17
NEXT_PUBLIC_SANITY_DATASET=
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_STUDIO_URL=http://localhost:3333
NEXT_PUBLIC_SITE_URL=http://localhost:3000

NEXT_PUBLIC_REVALIDATE=1

# Set this to `true` in production to allow search crawler bots via robots.txt
NEXT_PUBLIC_ALLOW_CRAWLER_BOTS=false

# Site verification id for google search console
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=

SANITY_API_READ_TOKEN=
